.destinations {
  padding: 40px 45px;
  margin-top: 40px;
}

.destinations > h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-size-adjust: 100%;
}

.destination__getaways {
  display: flex;
  padding-top: 10px;
}

.destination__getaways > h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding: 10px 0;
  margin: 6px 6px 6px -10px;
  width: fit-content;
  position: relative;
  display: block;
  transition: color 0.1s, background-color 0.1s;
  color: #000;
}

.destination__getaways > h3:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 8px;
}

.destination__getaways > h3:focus,
.destination__getaways > h3:active {
  color: #00bcd4;
}

.destination__getaways > h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: black;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}

.destination__getaways > h3:active::before {
  background-color: black;
}

.destination__getaways > h3:hover::before,
.destination__getaways > h3:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
  position: relative;
  display: block;
  padding-bottom: 16px;
  margin: 6px 6px -8px -10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  transition: color 0.1s, background-color 0.1s;
  color: #000;
}
a:hover {
  color: black;
}
a:focus,
a:active {
  color: black;
}

a::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: black;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}

a:active::before {
  background-color: black;
}

a:hover::before,
a:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.destination__getaways > ul > li > a:hover {
  cursor: pointer;
}

.destination__cities {
  padding: 0 0 65px 40px;
  margin-top: 30px;
  margin-left: -40px;
}

.destination__city:hover {
  cursor: pointer;
}

.destination__city > h3 {
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  font-weight: 400;
}

.destination__city > h4 {
  font-size: 14px;
  line-height: 18px;
  padding-top: 2px;
  color: #717171;
  font-weight: 400;
}

.destination__city > p {
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 18px;
  text-decoration-line: underline;
}
